img {
  margin: auto;
}
h1{
  color: black;
  text-align: center;
  text-transform: full-width;
  font-size: 35px;
  font-style: sans serif;
  font-weight: bold;
  line-height: 0.5;
}
h2{
  font-size: 25px;
  font-style: sans serif;
  font-weight: bold;
}
h3{
  font-size: 15px;
  font-style: sans serif;
  font-style: bold;
}
h4 {  font-size: 15px;
  font-style: sans serif;
  font-style: italic;
  font-weight: lighter;

}

body {
  text-align: center;
  padding: 0;
  line-height: 1.6;
  font-family: "Palatino Linotype", sans-serif;
  margin: 50px;
  background-image: url(file:///C:/Users/Anais/Desktop/ediciones%20AV/utalca/4to%20a%C3%B1o/Medio%20IV/bim%202/commlab/semana1/imagenes/croquis%20retroescabadora.png);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p{
  font-size: 13px;
  font-weight: lighter;
  color: black;
  margin-left: 80px;
  margin-right: 80px;

}
